/* Custom styles for Toure Show Podcast site */

.bg-dark {
    background-color: #00010D !important;
}

.jumbotron {
    margin-bottom: 30px;
    padding-bottom: 30px;
    width: 100%;
}

.jumbo-bg {

    background: url('../components/img/hero.png') no-repeat center center fixed #F2B807;
    background-size: cover;
   
}

.jumbo-text {
    opacity: 0.01;
}

.card {
    border: 0;
}

.card-text, .card-title {
    color: #00010D;
}

.card-text {
    font-size: 1rem;
}

/* .col {
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
} */

.container-fluid {
    padding: 0px;
}

/* .news-container {

    align-items: flex-end !important;

} */
.news-section {
    background: #fff;
    padding: 75px 0;

}

.news-section hr {
    width: 250px;
    border: none;
    height: 1.5px;
    background-color: #0000ff;
    margin: 0 5px 0.5rem 5px;
}

.news-section h2 {
    text-transform: uppercase;
    font-weight: bold;
}

.podcast-section {
    background: #C5C5C7;
    padding-top: 20px;
    /* padding-left: 50px;
    width: 100%; */
}